@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.maindiv {
  width: auto;
  height: auto;
  background: #99c6d0;
}

h1 {
  text-align: center;
  padding: 40px 0;
}

.parrentdiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.childdiv {
  width: 400px;
  height: 150px;
  background: #ffffff;
  display: flex;
  padding: 6px;
  border-radius: 8px;
  margin: 20px 38px;
  position: relative;
}

.imgDiv img {
  height: 100%;
}
.detailsDiv {
  margin: 10px 20px;
}
.detailsDiv p {
  margin: 10px 0;
}
.recordDiv {
  width: 195px;
  background: #8080802b;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  padding: 12px;
  position: absolute;
  bottom: 10px;
}
.recordDiv span {
  font-weight: bold;
  font-size: 12px;
}

.inputDiv {
  text-align: center;
  margin: 20px 0;
}

.inputDiv input {
  width: 25rem;
  padding: 10px;
  font-size: 1.3rem;
}
